.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  font-size: 14px;
  border: 2px solid;
}

.true {
  border-color: #22c55e;
  color: #22c55e;
  background-color: transparent;
}

.false {
  border-color: #ef4444;
  color: #ef4444;
  background-color: transparent;
}
