/* ========== Icon Wrapper ========== */
.iconWrapper {
  display: inline-flex;
  width: 28px;
  height: 28px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 9999px;
  box-shadow: 0 1px 3px var(--color-shadow);
}

.icon {
  font-size: 1.35rem;
}

/* ========== Icon States ========== */
.true {
  color: var(--icon-true);
  border-color: var(--icon-true);
}

.false {
  color: var(--icon-false);
  border-color: var(--icon-false);
}
