@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 0.5;
    transform: scale(1);
  }
}

.leftArrow,
.rightArrow {
  position: absolute;
  bottom: -2.25rem;
  z-index: 10;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: var(--color-muted);
  user-select: none;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

.leftArrow {
  left: 0.75rem;
}

.rightArrow {
  right: 0.75rem;
}

.visible {
  opacity: 0.5;
  transform: scale(1);
  pointer-events: auto;
}

.leftArrow:hover,
.rightArrow:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
