.row td {
  cursor: default;
  transition: background 0.25s ease;
  background-color: var(--color-bg);
}

.rowAlt td {
  background-color: var(--color-surface);
}

.row:hover,
.rowAlt:hover {
  background-color: var(--color-accent);
}

@media (width <= 768px) {
  .row,
  .row td {
    border-bottom: 1px solid #e5e7eb;
    background-color: transparent !important;
  }
}
